node_modules/
/dist/
/build/
/extracted-right-version/
/ios/App/App/public/build/
/www/build/
!dist_web/
.env
*.log
GG Backup 08Feb26/
*.bson
*.asar
.vercel
backup_extracts/
BACKUP SYSTEM*/
*.zip
*.py
test_*.js
