
.limiter {
    width: 100vw;
    margin: 0 auto;
  }
  
  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #202a5a;
    background: -webkit-linear-gradient(-135deg, #202a5a, #4158d0);
    background: -o-linear-gradient(-135deg, #202a5a, #4158d0);
    background: -moz-linear-gradient(-135deg, #202a5a, #4158d0);
    background: linear-gradient(-135deg, #202a5a, #4158d0);
  }
  
  .wrap-login100 {
    width: 850px;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 177px 130px 33px 95px;
  }
  .login100-pic {
    width: 316px;
  }
  
  .login100-pic img {
    max-width: 100%;
  }
  .btnBack{
    position: absolute;
    top: 90px;
    border: none;
    cursor: pointer;
    margin-left: 58%;
    background-color: white;
  }
  .btnBackIcon{
    font-size: 2.5rem !important;
  }
  /*------------------------------------------------------------------
[  ]*/

.login100-form {
    width: 290px;
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
  
  .login100-form-title {
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    justify-content: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
  }
  
  
  /*---------------------------------------------*/
  .wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
  }
  
  .wrap-input100 input[type='text'] {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    border: 1px solid #666666;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  .wrap-input100 input[type='password'] {
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    border: 1px solid #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
  }
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: #202a5a;
  }
  
  

  .symbol-input100 {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;
    justify-content: space-between;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #4158d0;
    padding-left: 28px;
  }
  
  .container-login100-form-btn a{
    text-decoration: none;
  }
.container-login100-form-btn {
  position: relative;
  width: 390px;
  justify-content: center;
  padding-top: 5px;
}

.login100-form-btn {
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  background: #202a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover {
  background: white;
  border-radius: 25px;
  border: 2px solid #202a5a;
  color: #202a5a;
}



/*------------------------------------------------------------------
[ Responsive ]*/

.text-center{
    padding: 20px;
}
.txt1 {
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
    padding: 10px;
  }
  
  .txt2 {
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
  }
  