body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
}
.Chart1{
    margin-left: 290px;
    margin-right: 70px;
    width: auto;
    padding: 20px;
    background-color: #202a5a;
    color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
display: flex;
gap: 150px;
}
.chart1content{
  width: 100%;
  display: inline-block;
}
.line-chart{
  width: 100%;
  height: 100%;
}
.tableemploye{
    margin-left: 250px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}
.Projecttable1{
    display: inline-block;
}

.Customerbuttonadd1{
    margin-left: 250px;
    margin-right: 50px;
    padding: 30px;
    justify-content: space-around;
    gap: 25px;
}
.btn1 {
    background-color: #202a5a;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
    padding:10px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
}

.fomrCustomer{
    margin-left: 300px;
    padding: 25px;
    width: 30%;
    color: white;
    
}
.formhaideshow{
    padding: 10px;
    gap: 40px;
    display: flex;
}
.btn2{
    height: 40px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 50px;
    box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
}
.formhaideshow input[type=text], input[type=password], input[type=time]  {
    width: 100%;
    padding: 15px;
    height: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  .formhaideshow2 input[type=text],input[type=email]{
    width: 90%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow3 input[type=text], input[type=email]{
    padding: 10px;
    margin-top: 10px;
    margin: 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow10 {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 70%;
    justify-content: space-between;
  }
  .formhaideshow11{
    display: flex;
    padding: 10px;
    width: 70%;
  }
  .itemNameHeadContent{
    width: 100%;
    height: 220px;
    display: flex;
    gap: 20px;
  }
  .itemNameHeadContent2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 0px;
  }
  .itemNameHeadContentform{
    width: 50%;
    height: 100%;
    display: inline-block;
  }
  .itemNameHeadContentform1{
    width: 50%;
    height: 100%;
  }
.formhaideshow11 input [type=radio]{
  padding: 10px;
  margin-top: 10px;
  margin: 5px;
  width: 40%;
  resize: vertical;
}
  .formhaideshow10 select{
    padding: 10px;
    margin-top: 10px;
    margin: 5px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow10 textarea{
    margin-top: 10px;
    height: 50px;
    margin: 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow10 input[type=text], input[type=date]{
    padding: 10px;
    margin-top: 10px;
    margin: 5px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow8{
    display: flex;
   justify-content: space-between;
    align-items: center;
  }
  .formhaideshow2  input[type=date] {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .formhaideshow input[type=time]{
    width: 50%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 12px 12px 12px 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }
  .formhaideshow textarea{
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

.fomrCustomer input[type=submit] {
    background-color: #202a5a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
  }
  .btn1icone{
    border: none;
    float: right;
    height: 3.5rem;
    width: 3.5rem;
    position: absolute;
    top: -30px;
    background-color: black;
    border-radius: 20px;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    cursor: pointer;
    align-items: center;
    color: white;
  }
  .btn1icone .iconmo23{
    padding: 7px;
    margin: 1px;
    font-size: 2rem !important;
}
  .formflex1{
    display: flex;
    align-items: center;
  }
  .invoicedetails{
    width: 100%;
    color: black;
    background-color: white;
    padding: 40px;
    display: block;
    position: relative;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } 
  .invoicedetails ul{
    list-style: none;
  }
  .invoiceinfohead{
    display: flex;
    justify-content: space-between;
  }
  .invoicehead{
    justify-content: center;
    align-items: center;
  }
  .invoiceinfohead{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoicehr{
    position: relative;
    float: right;
    right: 30%;
    background-color: white;
    color: #2f81b7;
    width: 15%;
    text-align: center;
    top: -28px;
    z-index: 1;
  }
  .invoivesubhead{
    position: relative;
    display: flex;
    width: 97%;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    top: -32px;
  }

  .invoivesubhead1{
    width: 48%;
    height: 20%;

  }
  .invoivesubhead1 .firstTable { 
               float: right; width: 100%;  height: 100%;
               border-collapse: separate; border-spacing: 2px;
            }
            .invoivesubhead1 .firstTable th, td { border-width: 1px; padding: 5px; position: relative; text-align: left; }
            .invoivesubhead1 .firstTable th{
              width: 35%;

            }
            .invoivesubhead1 .firstTable td{
              width: 65%;

            }
  .downTabledetails{
    position: relative;
    display: flex;
    gap:0px;
  }
  .downTabledetailstotal{

    position: relative;
    width: 42%;
    height: 20%;
  }
  .downTabledetailstotal .firstTable2 { 
   width: 100%;  height: 100%;
   border-collapse: collapse;
 }
 .downTabledetailstotal .firstTable2 th{
  width: 35%;
  text-align: right;
 }
 .downTabledetailstotal .firstTable2 td{
  width: 65%;
  text-align: right;
 }
 .banksec{
  padding: 20px;
 }
 .firstTable3{
  position: relative;
  text-align: left;
 }
 
 .Termandcond{
  position: relative;
  padding: 20px;
 }
  .footerinvoice{
    position: relative;
    display: flex;
    line-height: 2px;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .font-bold{
    font-weight: bold;
    align-items: center;
    margin: 10px;
  }
  
  .invoiceinputname1 .uploadBox{
    font-size: 16px;
    background-color: white;
    border-radius: 50px;
    width: 380px;
    outline: none;
    }
    ::-webkit-file-upload-button{
      position: relative;
      color: white;
      cursor: pointer;
      width: 100%;
      background-color: #202a5a;
      border: none;
      height: 130px;
    }
    ::-webkit-file-upload-button:hover{
      background: white;
      border: 1px solid #202a5a;
      color: #202a5a;

    }
 
  .invoiceinputname{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .btn3{background-color: #202a5a;
    color: white;
    border-radius: 10px;
    height: 50px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
    -webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
    -moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);}
.tableinvoice{
  border-collapse: collapse;
    width: 95%;
    background-color: white;
    border: 1px solid black;
    margin: 20px;
    table-layout: fixed;
}
.tableinvoiceedit{
  border-collapse: collapse;
    width: 85%;
    background-color: white;
    height: 150px;
    cursor: pointer;
    border: 1px solid #202a5a;
    margin: 30px;
    table-layout: fixed;
}

.tableinvoiceedit td span{
  display: flex;
}
.tableinvoice th {
    padding: 1px;
    border: 1px solid black;
    background-color: #e8f7fe;
    color: black;
}
.tableinvoice tr {
  border-bottom: none;
}
.tableinvoice td{
  border-right: 1px solid black;
  border-bottom: none;
}
.dateinvoiceinfodate ul li{
  gap: 20px;
}
.btnsave1{
  position: fixed;
 left: 88%;
 background-color: #202a5a;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: none;
    padding:10px;
    cursor: pointer;
    margin: 5px;
    box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
}
.statusBilllabel{
  display: flex;
  position: relative;
  max-width: 100%;
  height: 50px;
  padding: 13px;
  gap: 40px;
}
.select-box{
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  height: 30px;
  width: 100%;
}
.hr0{
  margin-left: -110px;
}
.hr1{ 
  position: relative;
  top: -45px;
  justify-content: end;
  width:32%;
    margin-left: 65%;
}
.card1{
  width: 90%;
  max-height: 40%;
  margin: 20px;
  padding: 10px;
}
.card1Details{
  display: flex;
  gap: 15px;
}
.cardProject1{
  position: relative;
  width: 350px;
  height: 200px;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  transition: 0.3 ease-in;
}
.card2{
  display: flex;
  gap: 30px;
  padding: 20px;

}
.cardProject2{
  position: relative;
  width: 500px;
  height: auto;
  padding: 15px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
  transition: 0.3 ease-in;
}

.ProjectNamebox{
  position: absolute;
  width: 200px;
  height: 50px;
  text-align: center;
  color: white;
  left: 22%;
  border-radius: 20px;
  top: -25px;
  background-color: #202a5a;
}
.cardProject1 .cardProjectContent{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.cardEdit1{
  display: inline-block;
  position: relative;
  left: 250px;
  gap: 5px;
  top: -190px;
}
.cardEdit2{
  display: inline-block;
  position: relative;
  left: 250px;
  gap: 5px;
  top: -130px;
}
.cardProject1 .cardProjectContent .cardProjectContendetails .cardProjectContendetailsspan{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.cardProjectContendetailsspan .cardIcon {
  position: relative;
  left: -15px;
  font-size: 2.5rem !important;
  border-radius: 10px;
  background-color: #202a5a;
  box-shadow: 10px 10px 5px -4px rgba(80, 77, 77, 0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(43, 39, 39, 0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(47, 44, 44, 0.75);
  color: white;
}
.cardProjectContendetailsdata {
  display: flex;
  position: relative;
  justify-content: center;
}
.cardProjectData{
  position: relative;
  display: flex;
  left: 45px;
  gap: 15px;
  bottom: -10px;
}
.cardProjectData1{
  display: inline;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(67, 165, 93);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
}
.cardProjectData2{
  display: inline;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: rgb(201, 49, 49);
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
}

.cardProjectData3{

  height: 30px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}
.cardProjectData4{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.cardProjectDatacontent{
  display: flex;
  align-items: center;
  font-size: 1.2rem !important;
}
.cardProject2head{
  position: absolute;
  width: 100%;
  color: white;
  top: -35px;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}
.cardProject2headtitleinfo{
  position: relative;
  background-color: #202a5a;
  width: 100px;
  text-align: center;
  justify-content: center;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px -4px rgba(100, 99, 99, 0.75);
}


.cardProject2headtitle{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.modalView{
  position: fixed;
  z-index: 1;
  width: 75%;
  top:40%;
  display: flex; 
}
.modalView7{
  position: fixed;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0;
  border-radius: 20px;
  background-color: -o-linear-gradient(-135deg, #202a5a, #4158d0);
  backdrop-filter: blur(15px);
}
.modalView15{
  position: fixed;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  top: 0px;
  border-radius: 20px;
  background-color: -o-linear-gradient(-135deg, #202a5a, #4158d0);
  backdrop-filter: blur(15px);
}
.Modal0{
  position: relative;
  margin: auto;
  background-color: #f2f2f2;
  color: black;
  top: 5%;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  width: 650px;
  height: auto;
}
.Modal10{
  position: relative;
  margin: auto;
  background-color: #f2f2f2;
  color: black;
  top: 0%;
  border-radius: 20px;
  padding: 20px;
  width: 800px;
  height: auto;
}
.Modal15{
  position: relative;
  margin: auto;
  background-color: white;
  color: black;
  top: 30%;
  left: 0;
  height: 200px;
  padding: 20px;
  width: 300px;
  justify-content: center;
}
.modalView1{
  position: fixed;
  z-index: 1;
  width: 75%;
  top:150px;
  display: flex; 

}
.modalView5{
  position: fixed;
  z-index: 1;
  width: 75%;
  margin-left: 80px;
  top:100px;
  display: flex; 
}
.modalView4{
  position: fixed;
  z-index: 1;
  width: 75%;
  top: 25%;

  display: flex; 

}
.Modal1{
   border-radius: 2px;
   padding: 2rem;
   width: 100%;
   background-color: #f2f2f2;
   width: 25rem;
}
.invoice{
   margin-left: 300px;
   margin-right: 45px;
   padding: 15px;
}
.CloseIcone{
   position: absolute;
   justify-content: right;
}
.modalhead1{
  display: flex;
  justify-content: space-between;
}
.employeecard{
  display: flex;
  padding: 20px;
margin-left: 20px;
  justify-content: space-around;
}
.employeecardcontent{
  width: 450px;
  height: 200px;
  border-radius: 20px;
  background-color: white;
}
.employeecardcontent .employeecardcontentflex{
  position: relative;
  display: flex;
  left: -50px;
}
.employeecardcontentflex .employeecardcontentleft{
  height: 163px;
  margin: 15px;
  padding: 5px;
  border-radius: 20px;
  align-items: center;
  position: relative;
  justify-content: center;
  display: block;
  width: 40%;
  background-color: #202a5a;
  }
  .employeecardcontentlefcontent .employeecardcontentlefcontentdata{
    align-items: center;
    position: absolute;
  }
.employeecardcontentlefcontentimg {
    width: 100%;
    height: 100%;
  }
  .employeecardcontentlefcontentimg a{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
  .employeecardcontentlefcontentimg a .icondata6{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 7rem !important;
  }
  
  .employeecardcontentcenterinfo{
    display: flex;
    justify-content: space-around;
    height: 75px;
  }
  .employeecardcontentcenter{
    display: block;
   line-height: 10px;
  }
  .itemInfoContainer2Contentdata{
    max-width: 695px;
    max-height: 600px;
    font-family: system-ui;
  }
  .tableItem {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    background-color: white;
    text-align: left;
    table-layout: fixed;
  }
  .tableItemInfo {
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
    background-color: white;
    text-align: left;
    table-layout: fixed;
  }
  .tableInfo10 {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  .tableItem tr:hover {
    background-color: #f2f2f2;
  }
  .tableItem th {
    padding: 5px;
    background-color: #f2f2f2;
    color: black;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
  .tableItemInfo tr:hover {
    background-color: #f2f2f2;
    border: 1px solid black;
  }
  .tableItemInfo tr {
    border: 1px solid black;
    padding: 10px;
  }
  .tableInfo10 tr {
    border: 1px solid black;
  }
  .tableItemInfo th {
    padding: 5px;
    color: black;
    height: 30px;
    margin: 10px;
}
  .tableInfo10 th {
    padding: 5px;
    color: black;
    height: 30px;
    margin: 10px;
}
  .tableInfo10 td {
    padding: 5px;
    color: black;
    height: 30px;
    margin: 10px;
}
.tableItem td {
  padding: 5px;
  margin: 5px; 
}


.paymentform{
  display: flex;
}
.InvoiceFormView{
  width: 100%;
  align-items: left;
}
.InvoiceFormView textarea{
  width: 93%;
  height: 80px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.InvoiceFormView  select{
  width: 80%;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.InvoiceFormView input[type='text'],input[type='date'],input[type='time'],input[type='password']{
  width: 80%;
  height: 25px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.InvoiceFormView1 input[type='text']{
  height: 25px;
  padding: 5px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.InvoiceFormView1 input[type='number'] {
  height: 25px;
  padding: 5px;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.expensesContainer1{
  width: 50%;
}
.expensesContainer1data input[type='text'],input[type='number']{
  height: 25px;
  padding: 5px;
  margin: 10px;
  width: 315px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.expensesContainer1data textarea{
  height: 80px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  align-items: left;
}
.expensesViewReceipt{
  position: relative;
  border: 3px dotted black;
  height: 350px;
}

.itemInfoContainer2Content .itemInfoTable th, td { border-width: 1px; padding: 5px; position: relative; text-align: left; }
.projectSectionAdminView3 {
  width: 80%;
  padding: 20px;
  margin-left: 45px;
  max-height: 60px;
  background-color: #202a5a;
  color: white;
  box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-webkit-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
-moz-box-shadow: 10px 10px 5px -4px rgba(23,21,21,0.75);
display: block;
}
.fixedClass {
  position: fixed;
  margin-right: -5px;
  z-index: 1000;
  float: right;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid black;
}
.container-Class-print {
  font-family: system-ui;
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important ;
    -webkit-print-color-adjust: exact;
  }
  .invoicedetails {
    height: 100%;
    margin-top: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
  @page {
    margin: 5px;
  }
}