
.homepanel1{
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #202a5a;
    background: -webkit-linear-gradient(-135deg, #202a5a, #4158d0);
    background: -o-linear-gradient(-135deg, #202a5a, #4158d0);
    background: -moz-linear-gradient(-135deg, #202a5a, #4158d0);
    background: linear-gradient(-135deg, #202a5a, #4158d0);
}
.homepanel1content{
    position: relative;
    margin: auto;
    width: 50%;
    width: 900px;
    height: 480px;
    border: 1px solid rgba(243, 237, 237, 0.25);
    border-radius: 20px;
    background-color: -o-linear-gradient(-135deg, #202a5a, #4158d0);
    box-shadow: 0 0 10px 1px rgba(245, 238, 238, 0.708);
  
    backdrop-filter: blur(15px);
    color: black;
    border-radius: 10px;
    top: 20%;

    padding: auto;
}
.txt3 {
    font-size: 13px;
    line-height: 1.5;
    color: white;
  }