.Homeemployee{
    width: 100vw;
    height: 100vh;
    display: inline-block;
    flex-direction: column;
    background-color: #f2f2f2;
    font-family: system-ui;
}
body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    overflow-x: hidden;
    font-family: system-ui;
}
.sidemnuandcontent{
    display: flex;
    flex: 1;
}
.SidebarDash {
    height: 100vw;
    width: 225px;
    position: fixed;
    background-color: #202a5a;
    top: 0;
    left: 0;
    z-index: 1;
    bottom: 0;
    overflow: hidden;
    transition: all 0.5s linear;
}
.Sidebarlist {
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 40px;
    overflow: hidden;

}
.Sidebarlist .Listrowdash {
    width: 100%;
    height: 40px;
    list-style-type: none;
    flex-wrap: nowrap;
    display: flex;
    flex: wrap;
    color: white;
    font-size: 16px;
    align-items: center;
    font-family: "Gill Sans", sans-serif;
}
.Sidebarlist .Listrowdash button{
 background-color: #202a5a;
 border: none;
}
.ItemsName  {
    color: aliceblue;
    display: flex;
    margin: 30px;
    text-decoration: none;
    align-items: center;
}

.Sidebarlist .Listrowdash:hover{
    cursor: pointer;
    background-color: #30368a;
}
.Sidebarlist .Listrowdash button:hover{
    cursor: pointer;
    background-color: #30368a;
    border: none;
}
.Sidebarlist .Listrowdash .active{
    width: 100%;
    height: 45px;
    margin-left: 0px;
    margin-right: -20px;
    background-color: #30368a;
}
.ItemsName #titlelist{
    margin-left: 10px;
}
