
.nav1Item{
    width: 100%;
    height: 400px;
    padding: auto;
    margin: auto;
}
.nav-menu{
    justify-content: center;
    display: inline-block;
    align-items: center;
    text-align: center;
}
.nav-menu2{
    position: relative;
    left: 0;
}
.nav-menu1{
   padding-left: 50px;
    display: flex;
   justify-content: center;
   gap: 70px;
}
.menu-item1 {
    list-style-type: none;
    margin: 30px;
    height: 20%;
    display: block;
    color: white;
    font-family: "Gill Sans", sans-serif;
}
.menu-item2 {
    list-style-type: none;
    display: block;
    color: black;
    font-family: "Gill Sans", sans-serif;
}

.LinkName  {
    color: black;
    display: flex;
    text-decoration: none;
    align-items: center;
}
.LinkName .active{
    color: white;
    background-color: #30368a;
  
    
}
.cardNav {
    position: relative;
    border-radius: 10px;
}
.cardNav .cardNavIcon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #202a5a;
    transition: 0.7s;
    z-index: 1;
}
.cardNav .cardNavIcon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}
.cardNav .cardNavIcon .cardNavIcon1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}
.cardNav .face {
    width: 200px;
    height: 100px;
    transition: 0.5s;
}
.cardNav .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.cardNav:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}
.cardNav .face.face1 .cardNavContent {
    opacity: 1;
    transition: 0.5s;
}
.cardNav:hover .face.face1 .cardNavContent {
    opacity: 1;
}
.cardNav .face.face1 .cardNavContent {
    max-width: 100px;
}
.cardNav .cardNavIcon span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition: 0.7s;
    color: #fff;
}
.cardNav .face {
    width: 150px;
    height: 100px;
    transition: 0.5s;
}
.cardNav .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.cardNav:hover .face.face1{
    background: #202a5a;
    transform: translateY(0px);
}
.cardNav .face.face1 .cardNavContent {
    opacity: 1;
    transition: 0.5s;
}
.cardNav:hover .face.face1 .cardNavContent {
    opacity: 1;
}

.cardNav.face.face1 .cardNavContent span{
    max-width: 100px;
}
.cardNav .face.face2 {
    position: relative;
    background: #fff;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.cardNav:hover .face.face2{
    transform: translateY(0);
}
.cardNav .face.face2 .cardNavContent .btnLoginAs {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 2px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 16px;
    background-color: #202a5a;
    cursor: pointer;
} 
.cardNav .face.face2 .cardNavContent .btnLoginAs:hover{
    background-color: white;
    color: #202a5a;
    border: 1px solid #202a5a;
}
